// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$first-font: 'Lemonada', cursive;
$second-font: 'Indie Flower', cursive;

body
{
    background-color: rgba(202, 197, 232, 0.32);
    font-family: $second-font;
    font-size: 16px;
}
#addLocation
{
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.navbar-default
{
    height: 50px;
    background-image: linear-gradient(90deg, #FFFFFF, rgba(158, 230, 111, 0.54));
}
#logo img
{
    margin-top: -10px;
    padding-top: 0px;
    width: 30px;
    height: 40px;
}

#prov
{
    font-family: $first-font;
    font-size: 36px;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #0595d6; 
   color: #FFFFFF;// Choose your own color here
 }
 
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #3e97bf;
   color: #FFFFFF;// Choose your own color here
 }
 
 .footer {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 55px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
}